.main_div{
    flex-flow:row wrap;
    display :inline-flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    background-blend-mode: normal;

    position: fixed;
    top: 5%;
    left: 0%;
    bottom:50%;
    right:0%;
}

.center_div{
    display: inline-flex;
    flex-flow: column nowrap;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #ffffff;
    overflow:hidden;
    position: fixed;
    margin-top: 10%;
    padding: 20px 20px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px;
}

.input_div{
    display: flex;
}
.input_{
    border-radius: 10px;
    padding : 5px;
    margin-left: 5px;
}